# dist/ ON gitis. Tavaliselt genereeritud valjundit ei hoita, aga
# siin genereeritakse kohalikus masinas (EduPage blokib GitHubi
# runneri IP-d), seega on repo see koht, mille kaudu failid Pagesisse
# jouavad. Vt README, peatukk "Avaldamine".

# Kasitsi tehtud tommised
*.zip

.DS_Store
node_modules/
